<div class="container">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <app-textinput [label]="'First Name'" title="Only required
    " formControlName="firstName"></app-textinput>
    <validation-error [controls]="controlName('firstName')"></validation-error>
    <app-textinput [label]="'Middle Name'" title="Reqired, Minimum 2 and maximum 9 any character is required
    " formControlName="middleName"></app-textinput>
    <validation-error [controls]="controlName('middleName')"></validation-error>
    <app-textinput [label]="'Last Name'" title="Only required
    " formControlName="lastName"></app-textinput>
    <validation-error [controls]="controlName('lastName')"></validation-error>
    <app-numberinput title="Reqired, Number between 2 and 15 is allowed" [label]="'Age'" formControlName="age">
    </app-numberinput>
    <validation-error [controls]="controlName('age')"></validation-error>
    <app-emailimput title="Reqired, Valid email is required
    " [label]="'Email Name'" formControlName="email"></app-emailimput>
    <validation-error [controls]="controlName('email')"></validation-error>
    <app-digit title="Reqired, Only digit is allowed, Between 2 and  9 digit can be enter.
    " [label]="'Digit'" formControlName="digit"></app-digit>
    <validation-error [controls]="controlName('digit')"></validation-error>
    <div formGroupName="confirmEmailGroup">
      <app-textinput [label]="'Text Comparision Field 1'" title=" required and Comparision first value with second field
    " formControlName="fvalue"></app-textinput>
      <validation-error [controls]="controlName('confirmEmailGroup.fvalue')"></validation-error>
      <app-textinput [label]="'Text Comparision Field 2'" title="Only required and and Comparision second value withh firld field
    " formControlName="svalue"></app-textinput>
      <validation-error [group]="controlGroup()" [controls]="controlName('confirmEmailGroup.svalue')">
      </validation-error>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>